body
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../media/pesas.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins';
    padding: 100px;
}