body
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    /*background: url(../media/gym.jpg);*/
    background-size: cover;
    background-position: center center;
    display:flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins';
    padding: 50px;
}

.tabla-entrenadores{
    top: 50px;
}