body
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    /*background: url(/media/bg.jpg);*/
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins';
    padding: 100px;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

header .logo
{
    position: relative;
    font-size: 2em;
    color: #c9e300;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Poppins';
}

header .navigation
{
    position: 100px;
    display: flex;
}
header .navigation
{
    list-style: none;
}

header .navigation li
{
    list-style: none;
}
header .navigation li a
{
    display: inline-block;
    color: #fff;
    margin-right: 150px;
    text-decoration: none;
    font-family: 'Poppins';
}

header .navigation li a:hover
{
    color:#c9e300;
}

header .navigation li a #return:hover
{
    color:red;
}

#displayTabla{
    top: 50px;
}
