@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(secund.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins';
    padding: 100px;
}