header
  a.logo(href='#') Crossfit
  ul.navigation
    li
      a(href='/') Inscribirse
    li
      a(href='/horarioMenu') Horarios
    li
      a(href='#') Leaderboard
    li
      a(href='/entrenadoresMenu') Entrenadores
    li
      a(href='/girlsMenu') Girls