extends ./layout/index

block contenido
    .container
        nav.navbar.navbar-light.bg-dark
            .container-fluid
            a.logo(href='#') Entrenadores
        table#tabla-entrenadores.table.table-dark.table-hover(class='bg-dark.bg-gradient tabla-entrenadores')
            thead
            tr
                th(scope='col') ID
                th(scope='col') Nombre
                th(scope='col') Apellido
                th(scope='col')
            each atletas in entrenadores
                tr
                    td #{atletas.id_atleta}
                    td #{atletas.nombres}
                    td  #{atletas.apellidos}
                    td
                        input.btn.btn-danger(type='button' value='Eliminar' )     
                        //PENDING TO ADD INPUT ID
            tbody