extends ./layout/index 


block contenido 
    container
        .row.row-cols-1.row-cols-md-3.g-4
            each the_girls in girls 
                .col
                    .card.h-100
                        .card-body
                            h5.card-title #{the_girls.nombre}
                            p.card-text
                            | #{the_girls.descripcion}
