extends ./layout/index

block contenido
    #displayTabla
        table.table.table-striped.table-hover
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Día
                    th(scope='col') Hora
                    th(scope='col') Clase
                    th(scope='col') Entrenador
            tbody
                tr
                    th(scope='row') 1
                    td Lunes
                    td 9:00 am
                    td 4
                    td Romeo
                tr
                    th(scope='row') 2
                    td Martes
                    td 7:00 pm
                    td 6
                    td Vicente
                tr
                    th(scope='row') 3
                    td Jueves
                    td 4:00 pm
                    td 3
                    td Larry
    #botones
