extends ./layout/index

block contenido
    //VISTA DE INICIO PREDEFINIDA
    .info
        .infoBox
            h2
                | Se el mejor del resto
                br
                |                     siendo saludable
            p   
                | Inicia hoy y sorprendete de lo que puedes lograr
            a(href='#' onclick='buton()') Inscribete