extends ./layout/index

block contenido
    .container
        nav.navbar.navbar-light.bg-dark
            .container-fluid
            a.logo(href='#') Leaderboard Mujeres
        table#tabla-entrenadores.table.table-dark.table-hover(class='bg-dark.bg-gradient tabla-entrenadores')
            thead
            tr
                th(scope='col') Puesto Top
                th(scope='col') ID Atleta
                th(scope='col') Fecha
                th(scope='col')
            each detalles_Top_Mujeres in topMujeres
                tr
                    td #{detalles_Top_Mujeres.puesto_top}
                    td #{detalles_Top_Mujeres.id_atleta}
                    td  #{detalles_Top_Mujeres.dia}/#{detalles_Top_Mujeres.mes}
                    td
                        input.btn.btn-danger(type='button' value='Eliminar' id = detalles_Top_Mujeres.id_atleta )     
                                